# General Wrapper Offline Stuff
Wrapper Offline.lnk
wrapper/_CACHÉ/*.mp3
wrapper/_CACHÉ/*.ogg
wrapper/_CACHÉ/*.png
wrapper/_CACHÉ/*.xml
wrapper/_SAVED/*.png
wrapper/_SAVED/*.xml
wrapper/_THEMES/import.xml
wrapper/main.js
wrapper/main-rpc.js
wrapper/main-norpc.js
wrapper/static/info-*.json
!_*/_NO_REMÖVE
utilities/backups/*
utilities/legacy/import_these/*
utilities/renders/*
utilities/misc/temp/*
utilities/grounded_messages/*
utilities/sourcecode/AssetImporter/bin/*
utilities/sourcecode/AssetImporter/obj/*
utilities/sourcecode/AssetImporter/Properties/*
utilities/sourcecode/AssetImporter/.vs/*
utilities/config.bat
utilities/checks/disclaimer.txt
server/characters/*
server/characters/characters.zip
server/store/3a981f5cb2739137/import/*
server/store/3a981f5cb2739137/cc_store/family/cc_theme.xml
server/store/3a981f5cb2739137/import/import.zip
server/store/3a981f5cb2739137/import/theme.xml
server/store/3a981f5cb2739137/business/*
server/store/3a981f5cb2739137/whiteboard/*
server/store/3a981f5cb2739137/infographics/*
server/store/3a981f5cb2739137/commoncraft/*
server/vo/*
.DS_Store
.DS_Store
vfproxy/*
bbbb/*
# Personal Basilisk files
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/*
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/compatibility.ini
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/extensions.ini
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/extensions.json
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/places.sqlite
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/pluginreg.dat
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/prefs.js
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/sessionstore-backups/previous.js
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/sessionstore.js
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/startupCache/startupCache.4.little
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/user.js
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/xulstore.json


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release



# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# VEGAS audio waveform peak files
*.sfk
*.sfap0
wrapper/_THEMES/_themelist-allthemes.xml
wrapper/_THEMES/_themelist-lessthemes.xml
wrapper/_THEMES/_themelist.xml
wrapper/static/info-nowatermark.json
wrapper/static/info-nowave.json
wrapper/static/info-watermark.json
wrapper/static/info-wave.json
wrapper/static/page-debug.js
wrapper/static/page-nodebug.js
wrapper/static/page.js
wrapper/static/watermarkON.txt
wrapper/node_modules/*
wrapper/pages/css/create-dark.css
wrapper/pages/css/create-light.css
wrapper/pages/css/create-light.css
wrapper/pages/css/create.css
wrapper/pages/css/global-light.css
wrapper/pages/css/global-dark.css
wrapper/pages/css/global-light.css
wrapper/pages/css/global.css
wrapper/pages/css/global.css
wrapper/pages/css/list-light.css
wrapper/pages/css/list-dark.css
wrapper/pages/css/list.css
wrapper/pages/css/swf-dark.css
wrapper/pages/css/swf-light.css
wrapper/pages/css/swf.css
wrapper/pages/html/importer.html
wrapper/pages/css/importer.css
server/animation/414827163ad4eb60/cc_browser.swf
server/animation/414827163ad4eb60/cc_browser-light.swf
server/animation/414827163ad4eb60/cc_browser-dark.swf
server/css/global-dark.css
server/css/global-light.css
server/css/global.css
utilities/config.bat
server/animation/414827163ad4eb60/cc-dark.swf
server/animation/414827163ad4eb60/cc-light.swf
server/animation/414827163ad4eb60/cc.swf
wrapper/static/page.js
wrapper/pages/img/importer/Sounds.png
wrapper/pages/img/importer/ImporterBackground.png
wrapper/pages/img/importer/Images.png
utilities/config.bat
wrapper/pages/php/settings.php
wrapper/asset/delete.js
