/***
this css contains the swf page styling
***/

/**
general
**/
html, body {
	background: #eee;
	margin: 0px;
}

/**
character page stuff
**/
#char_creator,
#char_browser {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* character creator */
#char_creator {
	width: 960px;
	height: 600px;
}
/* character browser */
#char_browser {
	width: 100%;
	height: 100%;
}

/**
other pages
**/
#video_maker,
#video_player {
	width: 100%;
	height: 100%;
}

/**
form
**/
form {
	display: none;
}
